.page{
    display: flex;
    flex-direction: row;

    gap: 10px;

    max-width: 100%;
    min-height: 100vh;

    background-color: var(--surface-secondary);
}

.aside {
    width: 250px;

    z-index: 8888;
}

.content {
    flex: 1;
}

.burger{
    display: none;
}

.hidden{
    display: none;
}

@media (max-width: 768px) {

    .burger {
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        width: 40px;
        height: 40px;

        border-radius: 50%;
        border: none;

        z-index: 9999;
    }

    .aside {
        position: fixed;
        top: 0;
        left: -250px;

        width: 250px;
        height: 100%;

        transition: left .3s;
    }

    .open {
        left: 0;
    }
}