.aside{

    background-color: var(--bg);

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;

    min-height: 100%;
    width: 250px;
}
.aside__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container__row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.hidden{
    display: none;
}
.button{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 15px;
}