:root {
    --bg: #F5F5F5;
    --surface: #FFFFFF;
    --surface-secondary: #EDEEF0;

    --border: #DCE1E6;

    --text: #2D2D2D;
    --text-secondary: #626D7A;
    --text-muted: #99A2AD;

    --primary: #2688EB;
    --primary-hover: #1E7AE5;
    --primary-active: #0F6EDC;

    --success: #4BB34B;
    --danger: #E64646;
}